<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='datatables.min.css') }}">
    <title> Lista de Productos</title>
</head>
    <script src="{{ url_for('static', filename='popper.min.js') }}" integrity="sha384-q9CRHqZndzlxGLOj+xrdLDJa9ittGte1NksRmgJKeCV9DrM7Kz868XYqsKWPpAmn" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='jquery-3.7.1.js') }}"></script>
    <script src="{{ url_for('static', filename='datatables.min.js') }}"></script>
<body>
    {% extends "menu.html" %}
    {% block content %}
    <div class="container mt-4">
        <h1>Lista de Usuarios</h1>
        <table class="table table-bordered table-responsive" id="myTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre del Usuario</th>
                    <th>Contraseña</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario[0] }}</td>
                        <td>{{ usuario[1] }}</td>
                        <td>{{ usuario[2] }}</td>
                        <td>{{ usuario[3] }}</td>
                        <td>
                            <a href="{{ url_for('editar_usuario', id=usuario[0]) }}" class="btn btn-sm btn-primary">Editar</a>
                            <a href="{{ url_for('eliminar_usuario', id=usuario[0]) }}" class="btn btn-sm btn-danger">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('agregar_usuario') }}" class="btn btn-primary">Agregar Usuario</a>
    </div>
    <script>
        //inicializar las opciones de la tabla 
        var table = $('#myTable').DataTable({
        language: { //definir el lenguaje de la tabla y sus opciones
            "decimal": "",
            "emptyTable": "No hay información",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
            "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
            "infoFiltered": "(Filtrado de _MAX_ total entradas)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ Entradas",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "Buscar:",
            "zeroRecords": "Sin resultados encontrados",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        },
    });
    </script>
    {% endblock %}
</body>
</html>